includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon


parameters:
    symfony:
        container_xml_path: server/var/cache/dev/srcApp_KernelDevDebugContainer.xml
